[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git@github.com:10ne1/meta-openembedded.git
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = git@github.com:10ne1/openembedded-core.git
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git@github.com:10ne1/meta-raspberrypi.git
[submodule "bitbake"]
	path = bitbake
	url = git@github.com:10ne1/bitbake.git
