LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	##PWD##/layers/openembedded-core/meta \
	##PWD##/layers/meta-openembedded/meta-oe \
	##PWD##/layers/meta-openembedded/meta-python \
	##PWD##/layers/meta-openembedded/meta-multimedia \
	##PWD##/layers/meta-openembedded/meta-networking \
	##PWD##/layers/meta-openembedded/meta-filesystems \
	##PWD##/layers/meta-raspberrypi \
	##PWD##/meta \
"
