LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

ROOT = "${@os.path.abspath(os.path.join("${TOPDIR}", os.pardir))}"

BBLAYERS ?= " \
	${ROOT}/layers/openembedded-core/meta \
	${ROOT}/layers/meta-openembedded/meta-oe \
	${ROOT}/layers/meta-openembedded/meta-python \
	${ROOT}/layers/meta-openembedded/meta-multimedia \
	${ROOT}/layers/meta-openembedded/meta-networking \
	${ROOT}/layers/meta-openembedded/meta-filesystems \
	${ROOT}/layers/meta-raspberrypi \
	${ROOT}/meta \
"
